:root {
    --bs-border-radius: 0;

    .card {
        --bs-card-border-radius: 0;
    }

    .pagination {
        --bs-pagination-border-radius: 0;

        .page-item {
            --bs-pagination-border-radius: 0;
        }
    }

    .navbar {
        --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    }
}

.btn {
    border-radius: 0;
}

.usedParts {
    li {
        list-style-type: none;
    }
}

.select2-selection.select2-selection--single {
    height: 38px;
    padding: 6px 14px;
}

.layout-navbar.navbar-detached {
    border-radius: 0;
}

.layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner .menu-item .menu-link {
    border-radius: 0;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
}

.input-group > .select2-container--default {
    width: auto !important;
    flex: 1 1 auto !important;
}

.input-group > .select2-container--default .select2-selection--single {
    height: 100% !important;
    line-height: inherit !important;
}

.custom-card {
    height: 240px; /* Set the desired height for the card */
    display: flex;
    flex-direction: column;
}

.custom-card img {
    height: 150px; /* Set the desired height for the image */
    object-fit: cover; /* Ensure the image covers the area */
}

.custom-card-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-area .uppy-Dashboard-inner {
    width: 100% !important;
}

#upload-area {
    width: 100%;
}