{% extends "base.html.twig" %}

{% block title %}{{ "Witamy"|trans }}{% endblock %}

{% block body %}

    <div class="row text-center">
        <h1>{{ "Witamy w systemie do zarządzania usługami"|trans }}</h1>

    </div>
{% endblock %}
