<form method="post" action="{{ path('task_delete', {'id': task.id}) }}"
      onsubmit="return confirm('{{ 'Czy na pewno usunąć'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger btn-lg">{{ "Usuń"|trans }}</button>
</form>
