<form method="post" action="{{ path('realised_service_delete', {'id': realised_service.id}) }}" onsubmit="return confirm('{{'Czy na pewno usunąć'|trans}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realised_service.id) }}">
    <button class="btn">{{ "Usuń"|trans }}</button>
</form>
